mixin createProduct(product)
    div.col-md-4
        div.card
            img( src=`/img/${product.imageUrl}` alt="#{product.name}").card-img-top
            div.card-body
                h4.card-title
                    a( href=`/product/${product.id}`) #{product.name}

                small.text-muted
                    i.fa.fa-try #{product.price}
            div.card-footer.text-center
            
                a(href=`/product/${product.id}`).btn.btn-outline-primary.btn-sm Details
                a(href="#").btn.btn-outline-primary.btn-sm.ml-3 Add to Cart