extends ../layouts/main-layout.pug
block content
    if orders.length > 0
        each order in orders
            .card.mb-5
                .card-header
                    h5 Order ID: # #{order._id}
                table.table
                    thread
                        tr
                            th(style="width:100px;") Image
                            th Product Name
                            th(style="width:150px;") Price
                            th(style="width:150px;") Quantity
                    tbody
                        each product in order.items
                            tr
                                td
                                    img(src=`/img/${product.imageUrl}`, width="80")
                                td #{product.name}
                                td #{product.price} TL
                                td #{product.quantity}
                    tfoot
                        tr
                            td(colspan="2") #{order.date}
                            td
                            - var total = 0
                            each product in order.items
                                - total += product.price * product.quantity
                            td #{total} TL

    else
        h1 No orders found